html {
  position: relative;
  width: 1140px;
  height: 1024px;
  background-color: #00a3ff;
}

.green {
  position: absolute;
  width: 507px;
  height: 92px;
  margin-top: 25px;
  margin-right: 170px;
  margin-bottom: 100px;
  margin-left: 40px;
  background-color: #26ff56;
  border: 3px solid #000000;
}
.red {
  position: absolute;
  width: 719px;
  height: 220px;
  margin: 68px 757px 736px 64px;
  background-color: #ffffff;
  border: solid 10px #e31e1e;
}
.orange {
  position: absolute;
  width: 659px;
  height: 160px;
  background-color: #d9d9d9;
  border: 40px solid #00ff66;
  margin: 377px 215px 487px 566px;
}

.black {
  position: absolute;
  height: 74px;
  width: 246px;
  margin: 43px 413px 43px 0px;
  background-color: #ff0000;
}
.divblack {
  position: absolute;
  width: 659px;
  height: 160px;
  margin: 753px 687px 111px 94px;
  border: 40px solid #4200ff;
  background-color: #d9d9d9;
}
